.content {
  flex: 1;
  margin: 90px 50px 0px 300px;
  text-align: left;
  font-size: 30px;
  max-width: 750px;
}

.title {
  font-size: 40px;
  font-weight: 550;
  padding: 10px 0px 10px 0px;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  padding: 50px 0px 10px 0px;
}

.underline {
  border-bottom: 1px solid #eaecef;
}

.subject {
  font-size: 16px;
  padding: 50px 0px 0px 0px;
}
