.sidebar {
  left: 0;
  bottom: 0;
  top: 50px;
  width: 250px;
  font-size: 15px;
  background-color: #fff;
  border-right: 1px solid #eaecef;
  position: fixed;
  overflow-y: auto;
  z-index: 10;
}

.sidebar-links {
  display: block;
  list-style-type: disc;
}

.sidebar-heading {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 15px 10px 15px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.sidebar-heading.headActive {
  background-color: #eaecef;
  color: black;
  border-left-color: black;
  border-left: 7px solid black;
}

.sidebar-heading:hover {
  background-color: #eaecef;
  color: black;
  border-left: 7px solid black;
}

.sidebar-wrap {
  /* padding-bottom: 10px; */
}

.sidebar-submenu {
  margin: 10px 0px 20px 45px;
  cursor: pointer;
}

.sidebar-submenu.subAcitve {
  font-weight: 700;
}

.sidebar-submenu:hover {
  font-weight: 700;
}

.sidebar-submenu-wrap {
  border-bottom: 1px solid #eaecef;
  display: none;
}

.sidebar-submenu-wrap.display {
  display: block;
}

