.sidebar {
  height: 800px;
  width: 270px;
  /* flex: 1; */
  /* height: 100vh; */
  font-size: 15px;
  background-color: #fff;
  border-right: 1px solid #eaecef;
  /* position: relative; */
  /* overflow-y: auto; */
  overflow: hidden;
  z-index: 10;
  margin-top: 50px;
}

.sidebar-links {
  display: block;
  list-style-type: disc;
  margin-top: 25px;
  overflow-y: auto;
  height: 100%;
}

.sidebar-heading {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 15px 10px 15px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.sidebar-heading.headActive {
  color: black;
  border-left: 7px solid black;
  margin-top: 5px;
}

.sidebar-heading:hover {
  color: black;
  border-left: 7px solid black;
}

.sidebar-submenu {
  margin: 10px 0px 20px 45px;
}

.sidebar-submenu.subAcitve {
  font-weight: bold;
}

.sidebar-submenu.subAcitve a {
  color: #20c997;
}

.sidebar-submenu:hover {
  font-weight: bold;
}

.sidebar-submenu:hover a {
  color: #20c997;
}

.sidebar-submenu-wrap {
  border-bottom: 1px solid #eaecef;
  display: none;
}

.sidebar-submenu-wrap.display {
  display: block;
}

.sidebar-group {
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .home_content {
    margin-left: 0px !important;
    width: 100% !important;
  }
}
