.sidebar {
  left: 0;
  bottom: 0;
  top: 50px;
  width: 270px;
  font-size: 15px;
  background-color: #fff;
  border-right: 1px solid #eaecef;
  position: fixed;
  overflow-y: auto;
  z-index: 10;
}

.sidebar-links {
  display: block;
  list-style-type: disc;
  margin-top: 25px;
}

.sidebar-heading {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 15px 10px 15px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.sidebar-heading.headActive {
  color: black;
  border-left: 7px solid black;
  margin-top: 5px;
}

.sidebar-heading:hover {
  color: black;
  border-left: 7px solid black;
}

.sidebar-submenu {
  margin: 10px 0px 20px 45px;
}

.sidebar-submenu.subAcitve {
  font-weight: bold;
}

.sidebar-submenu.subAcitve a {
  color: #20c997;
}

.sidebar-submenu:hover {
  font-weight: bold;
}

.sidebar-submenu:hover a {
  color: #20c997;
}

.sidebar-submenu-wrap {
  border-bottom: 1px solid #eaecef;
  display: none;
}

.sidebar-submenu-wrap.display {
  display: block;
}
